@model IEnumerable<FakeStore2.Models.OrdersModel>

@{
    ViewBag.Title = "CostumerOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Costumer Orders</h2>
<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            Total
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costumer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
            </td>
        </tr>
    }

</table>
<br />
<a>
    @Html.ActionLink("Create New", "Create",null, new {@class="btn btn-success"})
</a>

