@model FakeStore2.Models.OrdersModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costumer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costumer)
        </dd>

    </dl>
</div>

<div>
    <button class="btn btn-default" onclick="history.back()">Back</button>
    <a>
        @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }, new { @class = "btn btn-info" } )
    </a>
</div>

