@model FakeStore2.ViewModel.OrdersViewModel

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<br />
<div class="form-group">
    @Html.LabelFor(cn => cn.Costumers)
    @Html.DropDownListFor(cn => cn.Costumers, new SelectList(Model.Costumers, "CostumerId", "FirstName"), "All Costumers", new { @class = "form-control", id = "customerDropdown" })
</div>


@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders)
            </th>
            <th>
                Total
            </th>
            <th>
                Names
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costumer.FirstName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
                </td>
            </tr>
        }

    </table>*@

<br />
<div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>@Html.LabelFor(ovm => ovm.Orders)</th>
                <th>@Html.LabelFor(ovm => ovm.Orders.FirstOrDefault().Total)</th>
                <th>@Html.LabelFor(ovm => ovm.Costumers.FirstOrDefault().FirstName)</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="js-costumer-table-body">
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

<br />
<a>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</a>

@section scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const dropdownList = document.querySelector('#customerDropdown');
            const jsTable = document.querySelector('.js-costumer-table-body');

            let url = "https://localhost:44372/Api/Orders";

            //fetch function
            const fetchOrders = async (url) => {
                try {
                    const response = await fetch(url);
                    const data = await response.json();
                    return data;

                } catch (err) {
                    throw err;
                }
            };

            //tableContents render function
            let tableContents = (obj) => {
                let result = obj.map(item => {
                    return `<tr>
                                <td>${item.OrderDate}</td>
                                <td>$${item.Total}</td>
                                <td>${item.CostumerName}</td>
                                <td>
                                    <a href='https://localhost:44372/Orders/Edit/${item.OrderId}' alt="Edit">Edit</a> |
                                    <a href='https://localhost:44372/Orders/Details/${item.OrderId}' alt="details">Details</> |
                                    <a href='https://localhost:44372/Orders/Delete/${item.OrderId}' alt="Delete">Delete</a>
                                </td>
                            </tr>`;
                }).join("");
                return result;
            };

            //call fetchOrders without id to get all orders as soon as DOM loads
            fetchOrders(url).then(data => {
                jsTable.innerHTML = tableContents(data);

                //then fetch orders of individual customer onchange
                dropdownList.addEventListener("change", function () {

                    fetchOrders(`${url}/${dropdownList.value}`).then(data => {
                        console.log(data)
                        jsTable.innerHTML = data.length > 0 ? tableContents(data) : "<br/><p class='text-center'>Costumer hasn't placed any orders yet.</p>";
                    })
                });
            });
        });
    </script>
}