@model FakeStore2.ViewModel.OrdersViewModel

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<br />
<div class="form-group">
    @Html.LabelFor(cn => cn.Costumers)
    @Html.DropDownListFor(cn => cn.Costumers, new SelectList(Model.Costumers, "CostumerId", "FirstName"), "All Costumers", new { @class = "form-control", id = "customerDropdown" })
</div>

<br />
<div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>@Html.LabelFor(ovm => ovm.Orders.FirstOrDefault().OrderDate)</th>
                <th>@Html.LabelFor(ovm => ovm.Orders.FirstOrDefault().Total)</th>
                <th>@Html.LabelFor(ovm => ovm.Costumers.FirstOrDefault().FirstName)</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="js-costumer-table-body">
            <!--Table body dynamically rendered-->
        </tbody>
    </table>
</div>

<!--Pagination-->
<nav aria-label="Page navigation example">
    <ul class="pagination-btns-container pagination justify-content-center">
       <!--pagination btns dynamically rendered-->
    </ul>
</nav>

<br />
<a>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</a>

@section scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const dropdownList = document.querySelector('#customerDropdown');
            const jsTable = document.querySelector('.js-costumer-table-body');
            const btnsContainer = document.querySelector('.pagination-btns-container');
            let startRow = 0;
            let amountOfRows = 10;

            let url = "https://localhost:44372/api/orders";

            //fetch function
            const fetchOrders = async (url) => {
                try {
                    const response = await fetch(url);
                    const data = await response.json();
                    console.log(data);
                    return data;

                } catch (err) {
                    throw err;
                }
            };

            //tableContents render function
            let tableContents = (obj) => {
                return obj.map(item => `
                    <tr>
                        <td>${item.OrderDate}</td>
                        <td>$${item.Total}</td>
                        <td>${item.CostumerName}</td>
                        <td>
                            <a href='https://localhost:44372/Orders/Edit/${item.OrderId}' alt="Edit">Edit</a> |
                            <a href='https://localhost:44372/Orders/Details/${item.OrderId}' alt="details">Details</> |
                            <a href='https://localhost:44372/Orders/Delete/${item.OrderId}' alt="Delete">Delete</a>
                        </td>
                    </tr>
                `).join("");
            };

            //pagination btns render function
            let paginationBtns = (number) => {
                return Array.from({ length: number })
                    .map((_, index) => `
                        <li class="page-item">
                            <button class="page-btn page-link" data-index="${index}">${index + 1}</button>
                        </li>
                        `)
                    .join("");
            };
               
            //call fetchOrders without id to get all orders as soon as DOM loads
            fetchOrders(`${url}?startRow=${startRow}&amountOfRows=${amountOfRows}`).then(data => {
                jsTable.innerHTML = tableContents(data.orders);
                btnsContainer.innerHTML = paginationBtns(data.numberOfPages);

                //generate and setup logic of pagination btns
                const allPageBtns = btnsContainer.querySelectorAll('.page-btn');
                allPageBtns.forEach(btn => {
                    btn.addEventListener('click', function () {
                        fetchOrders(`${url}?startRow=${parseInt(this.dataset.index) * amountOfRows}&amountOfRows=${amountOfRows}`)
                            .then(data => {
                                jsTable.innerHTML = tableContents(data.orders);
                            });
                    })
                });

                //then fetch orders of individual customer onchange
                dropdownList.addEventListener("change", function () {
                    fetchOrders(`${url}/${dropdownList.value}`).then(data => {
                        const { orders } = data;
                        jsTable.innerHTML = orders.length > 0 ? tableContents(orders) : "<br/><p class='text-center'>Costumer hasn't placed any orders yet.</p>";
                        btnsContainer.innerHTML = paginationBtns(data.numberOfPages);
                    })
                });
            });
        });
    </script>
}