@model FakeStore2.Models.CustomerModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<h4>Are you sure you want to delete this Costumer and <strong>all</strong> of his <strong>Orders?</strong></h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostumerSince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostumerSince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orders)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdersCount)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    <input type="submit" value="Delete" class="btn btn-danger" />
</div>
    }
</div>
