@model IEnumerable<FakeStore2.Models.CustomerModel>

@{
    ViewBag.Title = "Costumers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<br/>
<table class="table table-responsive table-hover">
    <thead class="bg-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostumerSince)
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostumerSince)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CostumerId }, htmlAttributes: new { @class="btn btn-sm btn-default"})
            @Html.ActionLink("Details", "Details", new { id=item.CostumerId }, htmlAttributes: new { @class = "btn btn-sm btn-default" })
            @Html.ActionLink("Delete", "Delete", new { id=item.CostumerId }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>

<a>
    @Html.ActionLink("Create New", "Create", null, new {@class="btn btn-success"})
</a>
